<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dispositivos almacenados</title>
	<link rel="stylesheet" th:href="@{/css/dispositivo.css}"/>
	<link rel="stylesheet" th:href="@{/css/redondeo.css}"/>
	<link rel="stylesheet" th:href="@{/css/filtro.css}"/>
</head>
<body>
	<div id="redondeo">
		<legend>Form</legend>
		<form action="#" th:action="@{/sparking/}" th:object="${sparkingDispositivo}" method="post">
			<input type="text" th:field="*{nombreDispositivo}" placeholder="Nombre"></input>
    	    <input type="text" th:field="*{descripcion}" placeholder="Descripción"/></input>
    	    <input type="text" th:field="*{codigoLugarEstacionamiento}" placeholder="Codigo estacionamiento"/></input>
			<input type="submit" placeholder="Agregar"/>
    	</form> 	
	</div>
	<div class="divFiltro">
		<legend>Filtro</legend>
		<form class="estiloFiltro">
			<select name="Estado" id="filtroDispositivo">
				<option selected="selected" value="true">Activado</option>
				<option value="false">Desactiado</option>
				<input type="button" value="Filtrar" id="botonFiltroEstado"/><br>
			</select>
		</form>
	</div>
	<div>
	  <table class="tablaDispositivo" id="tablaDispositivos">
	    <thead>	
	      <tr>
	        <th>ID</th>
	        <th>Nombre dispositivo</th>
	        <th>Codigo de Estacionamiento</th>
	        <th>Descripción</th>
	        <th>Estado dispositivo</th>
	        <th>Ocupado</th>
	      </tr>
	    <tbody id="cuerpoDispositivos">
		  <tr th:each="dispositivo : ${dispositivos}">
		  	<td><a th:href="@{/sparking/eventos/{id}(id=${dispositivo.id})}">
				  <span th:text="*{dispositivo.id}"/></a></td>
		  	<td><span th:text="*{dispositivo.nombreDispositivo}"/></td>
		  	<td><span th:text="*{dispositivo.codigoLugarEstacionamiento}"/></td>
		  	<td><span th:text="*{dispositivo.descripcion}"/></td>
		  	<td id="EstadoFiltroDispositivo"><span th:text="*{dispositivo.estadoDispositivo}"/></td>
		  	<td><span th:text="*{dispositivo.ocupado}"/></td>
		  </tr>
	  </tbody>
	    </thead>
	    <tbody id="listaDispostivos"></tbody>
	  </table>
	</div>
	<!--<script type="text/javascript" th:src="@{/js/objetos/objetos.js}"></script>
	<script type="text/javascript" th:src="@{/js/objetos/funciones.js}"></script>
	<script type="text/javascript" th:src="@{/js/crearDispositivo.js}"></script>
	<script type="text/javascript" th:src="@{/js/obtenerDispositivos.js}"></script>-->
	<script type="text/javascript" th:src="@{/js/filtro.js}"></script>
</body>
</html>