<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Eventos de los dispositivos</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/evento.css}"/>
</head>
  
<body>
	<table class="eventoTabla">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Momento</th>
				<th>Nombre del dispositivo</th>
				<th>Descripcion del dispostivo</th>
			</tr>
		</thead>	

		<tbody>
			<tr>
				<td><span th:text="${evento.idEvento}"/></a></td>
				<td><span th:text="${evento.nombreEvento}"/></td>
				<td><span th:text="${evento.createdAt}"/></td>
				<td><span th:text="${evento.dispositivo.nombreDispositivo}"/></td>
				<td><span th:text="${evento.dispositivo.descripcion}"/></td>
			</tr>
		</tbody>
	</table>
</body>
</html>