<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Eventos de los dispositivos</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/evento.css}"/>
</head>
  
<body>
	<table class="eventoTabla">
		<thead>
			<tr>
				<th>ID Evento</th>
				<th>ID dispositivo</th>
				<th>Descripcion dispositivo</th>
				<th>Nombre</th>
				<th>Momento</th>
				<th>Estado dispositivo</th>
			</tr>
		</thead>	

		<tbody>
			<tr th:each="evento : ${eventos}">
				<td><a th:href="@{/evento/{id}(id=${evento.idEvento})}">
					<span th:text="${evento.idEvento}"/></a></td>
				<td><span th:text="${evento.dispositivo.id}"/></td>
				<td><span th:text="${evento.dispositivo.descripcion}"/></td>
				<td><span th:text="${evento.nombreEvento}"/></td>
				<td><span th:text="${evento.createdAt}"/></td>
				<td><span th:text="${evento.dispositivo.estadoDispositivo}"/></td>
			</tr>
		</tbody>
	</table>
</body>
</html>