<!DOCTYPE html>
<html>
<head>
	<title>Dispositivos almacenados</title>
	<link rel="stylesheet" th:href="@{/css/dispositivo.css}"/>
	<link rel="stylesheet" th:href="@{/css/redondeo.css}"/>
	<script type="text/javascript" th:src="@{/js/objetos/objetos.js}"></script>
	<script type="text/javascript" th:src="@{/js/crearDispositivo.js}"></script>
	<script type="text/javascript" th:src="@{/js/obtenerDispositivos.js}"></script>
</head>
<body>
	<div id="redondeo">
		<legend>Form:</legend>
		<form id="formularioDispositivos">
			<input type="text" id="nombreDispositivo" placeholder="Nombre"></input>
    	    <input type="text" id="descripcion" placeholder="Descripción"/></input>
    	    <input type="text" id="codigoLugarEstacionamiento" placeholder="Codigo estacionamiento"/></input>
			<input type="button" value="Agregar" id="boton" onclick="algo()"/>
    	</form> 	
	</div>
		
	<div>
	  <table class="tablaDispositivo">
	    <thead>	
	      <tr>
	        <th>ID</th>
	        <th>Nombre dispositivo</th>
	        <th>Codigo de Estacionamiento</th>
	        <th>Descripción</th>
	        <th>Estado dispositivo</th>
	        <th>Ocupado</th>
	      </tr>
	    </thead>
	    <tbody id="listaDispostivos"></tbody>
	  </table>
	</div>
</body>
</html>