<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dispositivos almacenados</title>
<link rel="stylesheet" th:href="@{/css/dispositivo.css}" />
<link rel="stylesheet" th:href="@{/css/redondeo.css}" />
</head>
<body>



	<div id="redondeo">
		<form action="#" th:action="@{/sensorHDispositivo/}"
			th:object="${shDispositivo}" method="post">
			<input type="text" th:field="*{nombreDispositivo}"
				placeholder="Nombre"></input> <input type="text"
				th:field="*{descripcion}" placeholder="Descripción" /></input> <input
				type="text" th:field="*{ubicacion}" placeholder="Ubicacion" /></input> <input
				type="submit" placeholder="Agregar" />
		</form>
	</div>

	<div class="divFiltro">
		<legend class="leyendaFiltro">Filtros</legend>



		<!-- Filtro de estado dispositivo -->
		<div id="filtro" data-dispositivo-tipo="sensor">
			<form class="estiloFiltro">
				Estado dispositivo:<select name="Estado" id="filtroDispositivo">
					<option selected="selected" value="todos">Todos</option>
					<option value="true">Activado</option>
					<option value="false">Desactiado</option>
				</select> <input type="button" value="Filtrar" id="botonFiltroEstado" /><br>
			</form>
		</div>


		<!-- filtra por la descripcion del Dispositivo -->
		<form class="estiloFiltro">
			Descripcion: <input type="search" id="filtradoPorDescripcion"
				placeholder="Descripcion" /> <input type="button" value="Filtrar"
				id="botonFiltroDescripcion" /><br>
		</form>

	</div>

	<div>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre dispositivo</th>
					<th>Sensor</th>
					<th>Ubicacion</th>
					<th>Estado</th>
				</tr>
			<tbody id="cuerpoDispositivos">
				<tr th:each="dispositivo : ${sensores}">
					<td><a
						th:href="@{/sensorHDispositivo/eventos/{id}(id=${dispositivo.id})}"><span
							th:text="*{dispositivo.id}" /></span></a></td>
					<td><span th:text="*{dispositivo.nombreDispositivo}" /></span></td>
					<td><span th:text="*{dispositivo.descripcion}" /></span></td>
					<td><span th:text="*{dispositivo.ubicacion}"></span>
					<td><span th:text="*{dispositivo.estado}"></span>
				</tr>
			</tbody>
			<thead>
			<tbody id="listaDispostivos"></tbody>
		</table>
	</div>

	<script type="module"
		th:src="@{/js/filtros/filtroEstadoDispositivo.js}"></script>
	<script type="module"
		th:src="@{/js/filtros/filtroDescripcionDispositivo.js}"></script>

</body>
</html>